* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  padding: 0px;
}

#root {
  height: 100vh;

}
body {
  background-color: rgb(24, 26, 27) !important;
  height: 100vh;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5,
.navbar-brand {
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", Arial, sans-serif; 
}

.navbar {
  height: 5.5rem;
  background-color: rgba(24, 26, 27, 0.8) !important;
}

.navbar-logo-solo {
  background-color: rgba(24, 26, 27, 0.0) !important;
  position: fixed;
}

.navbar-collapse {
  background: none;
}

.nav-link {
  width: 10rem;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.9) !important;
  text-align: center;
}

.nav-link:hover {
  color: rgb(189, 151, 98) !important;
}

.navbar-brand small {
  text-transform: uppercase;
  font-size: 1rem;
  display: block;
  text-align: center;
  letter-spacing: 5px; 
  color: white;
}

.navbar-brand{
  text-align: center;
  font-size: 2rem !important;
  width: 6rem;
}

.login-box-logo, .register-box-logo {
  font-size: 3rem !important;
}

.dropdown-menu, .dropdown-item {
  background-color: rgb(24, 26, 27) !important;
  color: rgb(125, 125, 125) !important;
}

.dropdown-item:hover {
  color: white !important;
}

.home-container {
  height: 80vh;
}

.login-box, .register-box {
  max-height: 100%;
  background-color: rgba(24, 26, 27, 0.8) !important;
}

.universal-container {
  background-color: rgba(24, 26, 27, 1) !important;
  height: 100vh;
}

.login-container, .register-container {
  height: 100vh;
}

.absolute-logo {
  position:absolute;
  width: 100vw;
}

.disclaimer-text {
  text-align: center;
}

.btn-login {
  background-color: rgb(189, 151, 98) !important;
  vertical-align: middle;
}

.welcome-box {
  background-color: rgba(24, 26, 27, 0.8) !important;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

.avatar-modal .modal-content {
  background-color: rgba(24, 26, 27, 1);
}

.card-bg-illustration {
  background-color: rgba(24, 26, 27, 1) !important;
}

.navbar-collapse-background.show {
  background-color: rgba(24, 26, 27, 1) !important;
}

.card-product {
  min-height: 100%;
  background-color: rgba(24, 26, 27, 1) !important;
}

.card-image-style {
  object-fit: cover;

  height: 80%;
  min-height: 80%;
  max-height: 80%;
}

.view-product-image {
  max-height: 50%;
}

.checkout-preview-image {
  object-fit: cover;

  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.checkout-button {
  width: 100%;

}